@{
    ViewBag.Title = "CreateUser";
}
@model ClientWebApiDatos.Models.Usuario
<h2>Crear Usuario</h2>

@if (ViewBag.Msg != null)
{
    <div class="alert alert-warning alert-center-bottom shadow-sm" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&nbsp;&nbsp;&times;</span></button>
        @ViewBag.Msg
    </div>
}

@using (@Html.BeginForm("GuardarUsuario", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.usuario_red)
        @Html.EditorFor(Model => Model.usuario_red, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.usuario_red, "", new { @class = "text-danger fz-0-8" })
    </div>
    <button type="submit" class="btn btn-primary w-100">GUARDAR</button>
}